<footer>
    <p> COPYRIGHT © 2020-2024 MXCO. ALL RIGHTS RESERVED.
    </p>
    <div class="contact" id="section3">
        <h3>Contact Us</h3>
        <div class="link">
            <a href="https://www.instagram.com/mxco.id/" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@madaaan.27?_t=8l64S9DBWPg&_r=1" title="tiktok">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
    </div>
</footer>