<div class="small-container" id="section2">
    <h2 class="title">Featured Products </h2>
    <div class="row">
        <div class="col-4">
            <img src="images/categories/ei wallpaper 1.jpg" alt="">
            <h4>Raiden EI</h4>
            <p>Rp 100.000</p>
        </div>

        <div class="col-4">
            <img src="images/categories/ei wallpaper 2.jpg" alt="">
            <h4>Raiden EI</h4>
            <p>Rp 500.000</p>
        </div>
    </div>
    <h2 class="title">Latest Products </h2>
    <div class="row">
        <div class="col-4"><img src="images/categories/ei wallpaper 5.jpg" alt="">
            <h4>Raiden EI</h4>
            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p>Rp 250.000</p>
        </div>
        <div class="col-4"><img src="images/categories/ei wallpaper 4.jpg" alt="">
            <h4>Raiden EI</h4>
            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
            <p>Rp 200.000</p>
        </div>
    </div>
</div>